doctype html
html
  head
    meta(charset="utf-8")
    title Needo | An interest integrator
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")  
    link(rel="stylesheet" href="custom.css")
    script(rel="text/javascript" src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/g/jquery")
    script.
      var config = {
        apiKey: "#{clientKey}",
        authDomain: "season-now.firebaseapp.com",
        databaseURL: "https://season-now.firebaseio.com",
        projectId: "season-now",
        storageBucket: "season-now.appspot.com",
        messagingSenderId: "963408188513"
      };
      firebase.initializeApp(config);
      var interestRef = firebase.database().ref('interests');
      interestRef.on('value', function(snapshot) {
        var listElement = $('#list_interests');
        listElement.empty();
        snapshot.forEach(function(child){
          console.log(child.val());
          listElement.append($('<li>').append(child.val()));
        });
      } )
  body
    div(class="container")
      div(class="row")
        div(class="text-center col-xs-12")
          input(id="search-box" size="46" value="")
          br
          br
          button(id="search-button") Integrate Interests
          button(id="add-button") Add Interest
      div(class="row")
        div(class="col-xs-5")
        div(class="col-xs-2")
          ul(class="fa-ul" id="list_interests")
        div(class="col-xs-5")
