doctype html
html
  head
    meta(charset="utf-8")
    title Needo | An interest integrator
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")  
    link(rel="stylesheet" href="custom.css") 
  body
    div(class="container")
      div(class="row")
        div(class="text-center col-xs-12")
          input(id="search-box" size="46" value="")
          br
          br
          button(id="search-button") Integrate Interests
          button(id="add-button") Add Interest